/jdialogs.jar
/*.dll
/.idea
/out
/vstudio/x64
/vstudio/x64/Release
/vstudio/.vs
/vstudio/Debug
/vstudio/Release
/vstudio/jdialogs.sdf
/vstudio/jdialogs.vcxproj.filters
/vstudio/resource.aps
/src/test/MainTest.java
/*.zip
/target
/javadoc
/src/test
/bin/
/*.jar
/releases
/src/com/zukadev/dialogs/CommonDialog.java.asc