/jdialogs.jar
/jdialogs.iml
/*.dll
/.idea
/out
/lib
/vstudio/x64
/vstudio/.vs
/vstudio/Debug
/vstudio/Release
/vstudio/jdialogs.sdf
/vstudio/jdialogs.vcxproj.filters
/src/test/MainTest.java
/*.zip
/target
/javadoc