/jdialogs.jar
/jdialogs.iml
/*.dll
/.idea
/out
/lib
/vstudio/x64
/vstudio/x64/Release
/vstudio/.vs
/vstudio/Debug
/vstudio/Release
/vstudio/jdialogs.sdf
/vstudio/jdialogs.vcxproj.filters
/vstudio/resource.aps
/src/test/MainTest.java
/*.zip
/target
/javadoc
/src/main
/src/test
/bin/
/*.jar
/releases